# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. Julia
3. R
4. Java
5. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Tensorflow
3. Scikit-Learn
4. Pandas
5. ggplot

|Data Science Tools   |
|:-------------------:|
|Jupyter Notebook     |
|RStudio              |
|Git                  |
|Apache Hadoop        |
|Apache Spark         |

### Below are a few examples of evaluating arithmetic expressions in Python
    (5+6)**2
    (7+9)*2
    (4-2)/2
    2+2

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- Commonly used libraries used by Data Scientist
- Examples of evaluating arithmetic expressions in Python
- Data Science tools

## Author
Theo Ogbebor